*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #121212;
    font-family: cursive;
}

form{
    margin:5rem auto;
    width:400px;
    height:fit-content;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    color:#ddd;
    font-size: 16px;
    padding:3%;
    border-radius: 10px;
    box-shadow: 3px 3px 30px #222121;
    /* text-align: center; */
}
h3{
    margin:20px auto;
}
label{
    margin-bottom: 2px;
    margin-left: 1rem;
}
small{
    margin-bottom: 0.6rem;
}
input{
    width:90%;
    height: 30px;
    border-radius: 5px;
    border:none;
    outline:none;
    padding:2%;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 1rem;
}
input:focus{
    border:2px solid skyblue;
}
.success{
    border: 2px solid greenyellow;
}
.success-msg{
    color:greenyellow;
    margin-left: 1rem;
}
.error{
    border:2px solid orange;
}
.error-msg{
    color: orange;
    margin-left: 1rem;
    line-height: 0.3;
}
div{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 15px;
}
input[type='radio']{
    width:12px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#btn{
    height: 40px;
    width:100px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    font-family: cursive;
    border: none;
    background-color: rgb(14, 161, 219);
    color:#DDD;
    border-radius: 10px;
}